.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}

.subtitle {
    font-size: 18px;
    color: #666;
    margin-bottom: 20px;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.list li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    transition: background-color .3s ease;
}

.list li:hover {
    background-color: #f7f7f7;
}

.list li:last-child {
    border-bottom: none;
}

.todo-item {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.todo-item input[type="checkbox"] {
    margin-right: 10px;
}

.todo-item span {
    flex: 1;
    text-decoration: none;
}

.todo-item span.completed {
    text-decoration: line-through;
    color: #999;
}

.todo-item button {
    margin-left: 10px;
    background-color: #ff69b4;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.todo-item button:hover {
    background-color: #ff7da4;
}

.todo-item .delete-button {
    background-color: #ff3737;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.todo-item .delete-button:hover {
    background-color: #ff5252;
}

form {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

input[type="text"] {
    padding: 10px;
    width: 200px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="text"]:focus {
    border-color: #aaa;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button[type="submit"] {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #3e8e41;
}